
/* small  first work page STYLES */
body {
	font-family: Arial, San-Serif;
	font-size: 100%;
}


/* HEADER */

/*NAVIGATION */


#navbar ul{
	display: none;
	background-color: black;
	position: absolute;
	top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
	margin: 0;
	padding: 0px;
	list-style-type: none;
}
#navbar {
	min-height: 54px;
	background-color: black;
	padding-left: 25px;
	min-width: 960px;
}
#navbar li {
	float: left;
	position: relative;
	height: 100%;
}
#navbar li a {
	display: block;
	padding: 6px;
	width: 100px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#navbar ul li { float: none; }
#navbar li:hover { background-color: #222; }
#navbar ul li:hover { background-color: #222;; }


#out  {
	padding-left: 370px;
}



/* MAIN PART */

/*Sort form*/

.work_form{
	margin: 5px 5px 5px 5px;
}

.button_navigation_form{
	/*margin-top: 20px;*/
	/*margin-bottom: 2px;*/
	margin: 20px 20px 20px 20px;
}

.sort_form{
"font-weight: bold;
width: 130px;
	padding: 5px 10px;
	margin-top: 30px;
	margin-left: 800px;
	background: #cccccc;
}

.button-navigator{
	width: 400px;
	height: 250px;
	border: 2px;
	background-color: yellowgreen ;

	padding: 5px 15px;
	border: 4px solid lightgrey;
	border-radius: 25px;

}


/* FOOTER */
.footer {
	background-color: yellowgreen;
	color: white;
	padding: 20px 0;
	margin-top: 5px;
}







