html, body{
	margin-left:15px; margin-right:15px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;

}

table {
	border-collapse:collapse;
	border-bottom:1px groove gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;

	padding: 1px;

	width:95%;
}

th {
	border-bottom:2px solid gray;
	background:none repeat scroll 0 0 #0775d3;
	padding:8px;
	color: #FFFFFF;
}

tr {
	border-top:2px solid #676699;
	text-align:center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background:#FFFFFF}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 100%; background: #0775d3; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}


.send-student-button{
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;
	margin-left:550px;

	margin-bottom: 15px;
	background: #cccccc;

}

.find-student-button{
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;
	margin-left: 20px;

	margin-bottom: 15px;
	background: #cccccc;

}

.delete-student-button{
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;
	margin-left: 960px;

	margin-bottom: 15px;
	background: #cccccc;

}

.add-student-button {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;
	margin-left: 20px;

	margin-bottom: 15px;
	background: #cccccc;


}


.menu_button{
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 130px;
	padding: 5px 10px;

	margin-bottom: 15px;
	background: #cccccc;


}

tr:hover {background-color:#b69532;}
td:hover {background-color:#ffa8ff;}

.chooseBlock{
	background-color: #0775D3;
}