<Context>

  <Resource name="jdbc/blog"
  			auth="Container" type="javax.sql.DataSource"
               maxActive="20" maxIdle="7" maxWait="10000"
               username="root" password="root"
               driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://localhost:3306/blog?useSSL=false"/>

</Context>